@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #004458; 
    /* background-image: url('background.jpg');
    object-fit: fill;
    background-attachment: fixed; */
    max-width: 95vw;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

#logo>p{
    font-weight: 700;
    font-style: italic;
    color: rgb(165, 196, 216);
}

#logo{
    border: 2px solid rgb(165, 196, 216);
    border-radius: 5px;
    padding: 3px;
}

#formdiv{
    height: auto;
}

form{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: bold;
    padding: 10px 0px;
}
  
input {
    width: 25vw;
    padding: 6px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: rgb(0, 28, 105);
}

button {
    background-color: #21796a;
    color: white;
    padding: 7px 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #1a6155;
}

#content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
    width: 86%;
    text-align: center;
    border: 2px solid white;
    border-radius: 16px;
    box-shadow: 0px 0px 6px 6px #075f7c;
    background-color: #033b4d;
}

.seconddiv{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#content2{
    display: grid;
    width: 97vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8rem 3rem 2.4rem;
    grid-auto-flow: row;
    grid-auto-rows: 50px;
    justify-items: center;
    align-items: center;
    margin: 3vh 0px 5vh 0px;
}

#pronostico{
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
}

#buttonsdiv{
    display: flex;
    gap: 20px;
}

.pordia,.porhora{
    border: none;
    background-color: rgb(67, 123, 160);
    border-radius: 0px;
    width: 5rem;
    height: 2rem;
    padding: 0;
    border: 1px solid white;
    border-radius: 6px;
    
}

.pordia:hover,.porhora:hover{
    transform: scale(1.05);
    transition: 200ms;
    background-color: rgb(67, 123, 160);
}

#labels{
    font-size: .8rem;
    display: grid;
    padding: 0 2vw;
    grid-template-columns: 15vw 16vw 22vw 15vw 20vw;
    align-items: center;
    gap: 2vw;
}

#labels>*{
    border-radius: 3px;
    text-align: center;
    height: 2.2rem;
    line-height: 2.2rem;
    box-shadow: 0px 0px 3px 1px #075f7c;
    background-color: #033b4d;
}

#labels>*:nth-child(4){
    line-height: 1.05rem;
}

.p2img{
    width: 2rem;
    height: 2rem;
}

.daysdiv{
    display: grid;
    margin: 0 2vw;
    grid-template-columns: 22vw 14vw 28vw 19vw 13vw;
    align-items: center;
    box-shadow: 0px 5px 5px -4px #075f7c;
    height: 50px;
}

.hoursdiv{
    display: grid;
    margin: 0 2vw;
    grid-template-columns:22vw 20vw 22vw 19vw 13vw;
    align-items: center;
    box-shadow: 0px 5px 5px -4px #075f7c;
    height: 50px;
}

.hoursdiv>*:first-child{
    padding-left: 3vw;
}

.z{
    font-size: 1.5rem;
    font-weight: 500;
}

.a{
    font-size: 3rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.b{
    font-size: 1.3rem;
    font-weight: bold;
}

.icon{
    width: 60px;
    height: 60px;
}

footer{
    height: 5vh;
    width: 100vw;
    text-align: center;
    line-height: 5vh;
    position: fixed;
    bottom: 0;
    background-color: #012631;
}

@media (width > 768px) {
    #formdiv{
        
    }
    header{
        margin: 0px 20vw 5vw 10vw;
    }
    #content{
        width: 40%;
    }
    
    
    .hoursdiv{
        display: grid;
        margin: 0 2vw;
        grid-template-columns:23vw 20vw 22vw 19vw 12vw;
        align-items: center;
        box-shadow: 0px 5px 5px -4px #075f7c;
        height: 50px;
    }

    .hoursdiv>*:first-child{
        padding-left: 6vw;
    }
    .daysdiv>*:first-child{
        padding-left: 4vw;
    }
    .daysdiv{
        display: grid;
        margin: 0 2vw;
        grid-template-columns: 23vw 18vw 23vw 22vw 10vw;
        align-items: center;
        box-shadow: 0px 5px 5px -4px #075f7c;
        height: 50px;
    }
    #labels>*:nth-child(4){
        line-height: 2.2rem;
    }
    .daysdiv>*:nth-child(4){

    }
    header{
        margin-bottom: 0vh;
    }
}